@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// $ Headings and Global                                                        
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5); // rgba with opacity=0.5 and sass function lighten() - Want slight shadow box around small-heading content

    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; // sits on top of everything else
    width: 100%;
}

.text-secondary {
    color: set-highlight-color($primary-color);
}

// $ MAIN STLYING                                                               
main {
    padding: 4rem;
    min-height: calc(100vh - #{$footer-height}); // to force sticky footer

    .icons {
        margin-top: 1rem;

        a {
            // each <i> tag is wrapped in an <a> tag within the .icons <div> group, so let's change how all these <i> icons look and behave:
            padding: 0.4rem;
            @include easeOut;

            &:hover {
                //. &:hover within a{} is the same as a:hover in css
                color: set-highlight-color($primary-color);
                // MOVED TRANSITION TO @mixin easeOut{}
                //x transition: all 0.5s ease-out; // first parameter is what you want to transition, second parameter is the time it takes (specify units), third parameter is the transition style
                @include easeOut;
            }

        }
    }

    &#home {
        overflow: hidden; // remove scrollbars from homepage

        h1 {
            margin-top: 20vh; // push homepage heading text down
        }
    }
}


// $ ABOUT PAGE STYLING                                                         
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: set-highlight-color($primary-color) 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: set-highlight-color($primary-color) 5px solid;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }
}

// $ WORK PAGE STYLING                                                          
.projects {
    //width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    //margin-left: 5%;
    //margin-right: 5%;

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: set-highlight-color($primary-color);
            @include easeOut;
        }
    }
}

// $ CONTACT PAGE STLYING                                                       
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 2rem 3rem;
            background: set-highlight-color($primary-color);
            color: set-text-color($primary-color);

            span {
                color: set-text-color($primary-color);
            }

        }
    }
}

// $ BUTTON STYLING                                                             
.btn {
    // & .btn is an unused class in site html, but is extended into .btn-light and .btn-dark
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: set-highlight-color($primary-color);
        color: set-text-color($primary-color);

    }
}

.btn-light {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-dark {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #000;
}

// $ FOOTER STYLING                                                             

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: $footer-height;
}


@import 'mobile';